#!/bin/bash
clear

GREEN="\e[1;32m"
RESET="\e[0m"
hostname=$(hostname)
echo -e "${GREEN}"
echo "███████╗███████╗██╗  ██╗███████╗██╗   ██╗███████╗████████╗███████╗███╗   ███╗"
echo "██╔════╝██╔════╝╚██╗██╔╝██╔════╝╚██╗ ██╔╝██╔════╝╚══██╔══╝██╔════╝████╗ ████║"
echo "█████╗  ███████╗ ╚███╔╝ ███████╗ ╚████╔╝ ███████╗   ██║   █████╗  ██╔████╔██║"
echo "██╔══╝  ╚════██║ ██╔██╗ ╚════██║  ╚██╔╝  ╚════██║   ██║   ██╔══╝  ██║╚██╔╝██║"
echo "██║     ███████║██╔╝ ██╗███████║   ██║   ███████║   ██║   ███████╗██║ ╚═╝ ██║"
echo "╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝   ╚═╝   ╚══════╝   ╚══════╝╚══════╝╚═╝     ╚═╝"
echo -e "${RESET}"

echo "🖥  Hostname : ${hostname^^}"
echo "⏳ Uptime   : $(uptime -p)"
echo "📊 Load     : $(cut -d ' ' -f1-3 /proc/loadavg)"
echo "💾 RAM      : $(free -h | awk '/Mem:/ {print $3 "/" $2}')"
echo "📦 Disco    : $(df -h / | awk 'NR==2 {print $3 "/" $2 " (" $5 ")"}')"
echo "🌐 IP Local : $(hostname -I | awk '{print $1}')"
echo ""
